#Title {
position: absolute;
left: 22%;
top: 10%;
bottom: 32.64%;
padding-top: 0px;
font-size: 62px;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	font-family: 'Cinzel', serif;
}

#Pen {
	border-radius: 50px;
	position: absolute;
	right: 95.9%;
	left: -60%;
	top: -5%;
	box-shadow: 5px 10px 10px rgba(0, 0, 0.25, 0.25);
}

#Button_question {
	position: absolute;
	left: 60%;
	top: 16%;
	height: 75px;
	width: 250px;
	font-size: 22px;
	background-color: white;
	border: none;
	box-shadow: 5px 10px 10px rgba(0, 0, 0.25, 0.25);
	border-radius: 2.5px;
}

#quest {
	font-family: font-family: 'Source Serif Pro', serif;
	color: #CECECE;
	text-decoration: none;

}



h2, h3, h4 {
    font-size: 50px;
    font-family: Cinzel, serif;
}

h3, h5 {
    position: absolute;
    right: 475px;
    top: 400px;
    font-family: Satisfy, cursive;
    color: orange;
}

#Photo {
	box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.2);

}
#Offer {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(215, 215, 215);
    border-image: initial;
    margin: 50px;
    padding: 0px 0px 50px;
    border-radius: 5%;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  margin: 25px;
  padding-bottom: 25px;
  padding-top: 125px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.card {
	background-color: white;
	padding : 50px;
	border-radius: 5px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	width : 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 62px;
	margin: 37.5px;
	flex-grow: 1;
	font-size: 37.5px;
	font-family: Satisfy, cursive;


}

.card img{
	width : 250px;
	height : 150px;
}

.card h6, h7, h8 {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 20px;
  color : black;
}


.icards {
	border-radius: 5%;
}

h4 {
 	position: absolute;
	right: 712px;
	top: 1110px;
}

h5 {
	position: absolute;
	right: 600px;
	top: 1150px;
	font-size: 50px;
}

a {
	text-decoration: none;
	color: grey;
}

ul{
	list-style: none;
}

a:hover {
	color: black;
}

#ban {
	list-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#bann {
	margin: 50px;
	background-color: #86FFED;
	margin: 0px;
	margin-top: 75px;
	padding-top: 12.5px;
	padding-bottom: 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.Media {
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	line-height: 1;
	padding: 25px;
	font-family: Satisfy, bold;
}

.container {
	padding: 0px;
}


@media (max-width: 960px){
    .container{
        width: 700px;
    }
    .img {
    	width:700px;
    }
}
@media (max-width: 720px){
    .container{
        width: 500px;
    }